<?xml version="1.0" encoding="utf-8"?>
<!-- Py publisher and Cpp subscriber -->
<launch>
  <!-- Py publisher -->
  <node pkg="performance_tests" type="pubpy.py" name="pub_py">
    <param name="py_pub_rate" type="double" value="2200"/>
  </node>
  <!-- Cpp subscriber -->
  <node pkg="performance_tests" type="sub_cpp" name="sub_cpp"/>
</launch>
