<?xml version="1.0" encoding="utf-8"?>
<!-- Py publisher and Cpp subscriber -->
<launch>
  <!-- Py publisher -->
  <node pkg="performance_tests" type="pubpy.py" name="pub_py">
  </node>
  <!-- Cpp subscriber -->
  <node pkg="performance_tests" type="sub_cpp" name="sub_cpp" output="screen"/>
</launch>
